# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command

HOMEC="/home/www-data/repos/smr_web/crons/"
HOME_DEPLOY="/home/www-data/repos/smr_web/deployconf/"

@reboot  cd $HOME_DEPLOY; uwsgi --emperor nginx_flask_*.ini

*/2 * * * * cd $HOME_DEPLOY; ./service_reloader

5 * * * * cd $HOMEC; python cron_warn_proxy_balance.py

10 0 * * * cd $HOMEC; python cron_daily_stats.py
