{% extends "base_layout.html" %}

{% block title %} {{ gettext('User login') }} {% endblock %}

{% block section %}
 <form class="form-horizontal" method="POST" action="">
 	<legend>{{ gettext('Login Page') }}</legend>
	{{ form.csrf_token }}
	{% import 'macros/forms.html' as hforms %}
	
	{{ hforms.with_errors(form.username, placeholder=gettext('Username')) }}
	{{ hforms.with_errors(form.password, placeholder=gettext('Password')) }}

    <div class="control-group">
	    <div class="controls">
		    <button type="submit" class="btn">{{ gettext('Login') }}</button>
	    </div>
    </div>
 </form>
{% endblock %}
