{% extends "base_layout.html" %}

{% block title %} {{ gettext('User Panel') }} {% endblock %}

{% block section %}
   <!-- Main hero unit for a primary marketing message or call to action -->
   <div class="hero-unit">
     <h2>{{ gettext('User Panel') }}</h2>
     <hr>

 <p>Auth-token: <strong>{{ current_user.auth_token }} </strong></p>
    <form class="form-horizontal" method="POST" action="{{ url_for('user.get_new_auth_token') }}">
        {{ form.csrf_token }}
        <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{{ gettext('Gen New AuthToken') }}</button>
        </div>
        </div>
    </form>
<hr>     
     <p>
        <a class="btn" href="{{ url_for('user.stats') }}" >View Stats</a>
        <a class="btn" href="{{ url_for('user.upd_pw') }}" >Change Password</a>
     </p>
     <hr>
   </div>
{% endblock %}