{% extends "base_layout.html" %}

{% block title %} {{ gettext('User Signup') }} {% endblock %}

{% block section %}

<form class="form-horizontal" method="POST" action=".">
	{{ form.csrf_token }}
 	<legend>{{ gettext('Register Page') }}</legend>
	{% import 'macros/forms.html' as hforms %}
	
	{{ hforms.with_errors(form.username, placeholder=gettext('Username')) }}
	{{ hforms.with_errors(form.email, placeholder=gettext('Email')) }}
	{{ hforms.with_errors(form.password, placeholder=gettext('Password')) }}
	
           {{ hforms.with_errors(form.confirm, placeholder=gettext('Confirm Password')) }}
           {{ hforms.with_errors(form.accept_tos) }}
   
	{{ hforms.with_errors(form.recaptcha) }}
	
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{{ gettext('Register') }}</button>
        </div>
    </div>
</form>
{% endblock %}
