{% extends "base_layout.html" %}

{% block title %} {{ gettext('Change Password') }} {% endblock %}

{% block section %}


 <form class="form-horizontal" method="POST" action="">
 	<legend>{{ gettext('Password Change') }}</legend>
	{{ form.csrf_token }}
	{% import 'macros/forms.html' as hforms %}
	
	{{ hforms.with_errors(form.old_password, placeholder=gettext('Old Password')) }}
	{{ hforms.with_errors(form.new_password, placeholder=gettext('New Password')) }}
	{{ hforms.with_errors(form.confirm_password, placeholder=gettext('Confirm Password')) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{{ gettext('Change Password') }}</button>
        </div>
    </div>
 </form>


{% endblock %}
