<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta charset="utf-8" />
		<meta name="keywords" content="HTML5, CSS3, JS" />
		<meta name="description" content="Page description here" />
		<meta name="abstract" content="An abstract with page description here"/>
		<meta http-equiv="Content-Language" content="es"/>
		<meta http-equiv="Expires" content="never"/>
		<meta name="revisit-after" content="5 days"/>
		<meta name="robots" content="index,follow"/>
		<meta name="googlebot" content="index,follow"/>
		<meta name="msnbot" content="index,follow"/>
		<meta name="slurp" content="index,follow"/>
		<meta name="document-type" content="Public"/>
		<meta name="cache-control" content="Public"/>
		<meta name="document-rating" content="General"/>
		<meta name="document-distribution" content="Global"/>
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">

		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      </style>
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">	
		
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<title>{% block title %} {{ title }} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	{% endblock %}
	</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="{{ url_for('index') }}">
              {{ gettext('Easy SMS') }}
          </a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">

             {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('user.panel') }}">Panel</a></li>
                  <li><a href="{{ url_for('user.stats') }}">Stats</a></li>
            {% endif %}

            <li><a href="#about">About</a></li>
            <li>
            <a href="#contact"><i class="icon-envelope icon-white"></i>
            Contact 
            </a></li>
              
            
            </ul>
            <ul class="nav pull-right" >
	           {% if current_user.is_anonymous %}
	               <li><a href="{{ url_for('user.login') }}">{{ gettext('Login') }}</a></li>
	               <li><a href="{{ url_for('user.register') }}">{{ gettext('Join Us') }}</a></li>
	           {% else %}
	            	<li><a href="{{ url_for('user.logout') }}">{{ gettext('Logout') }} [{{ current_user.username }}]</a></li>
	           {% endif %}
	         </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">


     <!-- flashed_messages -->
	  {% for message in get_flashed_messages() %}
		  <div class="alert">
		  	<button type="button" class="close" data-dismiss="alert">×</button>
		  	{{ message }}
		  </div>
	  {% endfor %}

	  {% block section %}
	  {% endblock %}

		<hr>

      
      <footer>
        {{ gettext('All Rights Reserved') }} &copy; 2014-2015
      </footer>

    </div> <!-- /container -->

	{% block extra_js_css %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{url_for('static', filename='assets/vendor/json2.js')}}"></script>
        <script src="{{url_for('static', filename='assets/vendor/jquery-1.9.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/vendor/underscore-1.4.4.min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/vendor/backbone-min.js')}}"></script>
        <script src="{{url_for('static', filename='todos.js')}}"></script>
      
	{% endblock %}

	{% block js_templates %}
    <!-- JS Templates -->

	{% endblock %}
	
</body>
</html>
