<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta charset="utf-8" />
		<meta name="keywords" content="HTML5, CSS3, JS" />
		<meta name="description" content="Page description here" />
		<meta name="abstract" content="An abstract with page description here"/>
		<meta http-equiv="Content-Language" content="es"/>
		<meta http-equiv="Expires" content="never"/>
		<meta name="revisit-after" content="5 days"/>
		<meta name="robots" content="index,follow"/>
		<meta name="googlebot" content="index,follow"/>
		<meta name="msnbot" content="index,follow"/>
		<meta name="slurp" content="index,follow"/>
		<meta name="document-type" content="Public"/>
		<meta name="cache-control" content="Public"/>
		<meta name="document-rating" content="General"/>
		<meta name="document-distribution" content="Global"/>
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">

		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      </style>
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">	
		
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<title>{% block title %} {{ title }} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	{% endblock %}
	</head>
<body>


<div class="navbar  navbar-fixed-top">

  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='images/logo3.png') }}" >              
  </a>

      <div class="navbar-inner">
        <div class="container">
          
          <div class="nav-collapse collapse">
            <ul class="nav">
             {% if current_user.is_authenticated %}
                 <li class="divider-vertical"></li>
                  <li><a href="{{ url_for('user.panel') }}">
                  <i class="icon-wrench"></i>
                  Panel</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="{{ url_for('user.add_credits') }}">
                  <i class="icon-shopping-cart"></i>
                  Add Credits</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="{{ url_for('user.stats') }}">
                  <i class="icon-signal"></i>
                  Stats</a></li>
            {% endif %}


            <li class="divider-vertical"></li>
            <li>
                <a href="{{ url_for('api_doc') }}">
                <i class="icon-question-sign"></i>
                API Guide
                </a>
            </li>
            <li class="divider-vertical"></li>
            
            <li>
                <a href="{{ url_for('about') }}">
                <i class="icon-info-sign"></i>
                About</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="{{ url_for('contact') }}">
                <i class="icon-envelope"></i>
                Contact
                </a>
            </li>
            <li class="divider-vertical"></li>
            </ul>


            <ul class="nav pull-right" >

            <li class="divider-vertical"></li>
                {% if current_user.is_anonymous %}                
                    <li>
                        <a href="{{ url_for('user.login') }}"><i class="icon-user"></i>
                         {{ gettext('Login') }}
                         </a>
                    </li>
            <li class="divider-vertical"></li>
                    <li><a href="{{ url_for('user.register') }}">
                        <i class="icon-plus-sign"></i>
                     {{ gettext('Join Us') }}
                      </a>
                    </li>
            <li class="divider-vertical"></li>
                {% else %}
                    <li><a href="{{ url_for('user.logout') }}">
                        <i class="icon-user"></i>
                        {{ gettext('Logout') }} [{{ current_user.username }}]
                        </a>
                    </li>
            <li class="divider-vertical"></li>
                {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<hr>
    <div class="container">


     <!-- flashed_messages -->
	  {% for message in get_flashed_messages() %}
		  <div class="alert">
		  	<button type="button" class="close" data-dismiss="alert">×</button>
		  	{{ message }}
		  </div>
	  {% endfor %}

	  {% block section %}
	  {% endblock %}

		<hr>

      
      <footer>
        {{ gettext('All Rights Reserved') }} &copy; 2014-2015
      </footer>

    </div> <!-- /container -->

	{% block extra_js_css %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{url_for('static', filename='assets/vendor/jquery-1.9.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	{% endblock %}

	{% block js_templates %}
    <!-- JS Templates -->

	{% endblock %}
	
</body>
</html>
