{% extends "base_layout.html" %}
{% block title %} {{ gettext('Contact') }} {% endblock %}
<hr>
{% block section %}
      <div class="hero-unit">
        <h2>{{ gettext('Contact Form') }}</h2>
        <p>
            For any question related to our services, you can contact us using the form below.
        </p>
        <hr>
     <form class="form-horizontal" method="POST" action="">
        {{ form.csrf_token }}
        {% import 'macros/forms.html' as hforms %}

        {{ hforms.with_errors(form.subject, placeholder=gettext('Subject')) }}
        {{ hforms.with_errors(form.message, placeholder=gettext('Message'), rows=7) }}
        {{ hforms.with_errors(form.recaptcha) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{{ gettext('Submit') }}</button>
            </div>
        </div>
     </form>
    </div>

<style>
    input#subject{
        width: 500px;
    }

    textarea#message{
        width: 500px;
    }
</style>

{% endblock %}
