{% extends "base_layout.html" %}

{% block title %} {{ gettext('Contact') }} {% endblock %}

{% block section %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{ gettext('Contact Us') }}</h1>
        <p>{{ gettext('This is a template for a simple marketing or informational website. It includes a large 
        callout called the hero unit and three supporting pieces of content. Use it as a starting point to create 
        something more unique.') }}</p>
        <p><a class="btn btn-primary btn-large">{{ gettext('Learn more') }} &raquo;</a></p>
      </div>

{% endblock %}
