{% extends "base_layout.html" %}
{% block title %} {{ gettext('EasySMS') }} {% endblock %}

{% block section %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{ gettext('Easy SMS text messages for applications!') }}</h1>
        <p>
            EasySMS is a simple solution that allow add SMS text messages to any software.
        </p>
      <h3>EasySMS features</h3>
      <ul>
          <li>
              Simple <a href="{{ url_for('api_doc') }}" >HTTP POST API</a> to deliver SMS from any application in one step.
          </li>
          <li>
              API client libs in popular languages <a href="{{ url_for('api_doc') }}" >(PHP, Python and .Net)</a>
          </li>
          <li>
              Secure SMS text information. EasySMS API is over HTTPS, this mean that all data related to messages
              is protected and transferred encrypted.
          </li>
          <li>
              Users panel with SMS stats, API credentials management and more.
          </li>
          <li>
              Simple and fast payment using <strong>PayPal</strong>.
          </li>
      </ul>
        </p>
          <br>
        <p><a class="btn btn-primary btn-large" href="{{ url_for('user.register') }}" >{{ gettext('Create An Account Today') }} &raquo;</a></p>
      </div>

{% endblock %}
